<ion-header>
  <ion-toolbar>
    <ion-title id="login-header">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list align-items-center justify-content-center>
    <ion-item>
      <ion-input clearInput placeholder="email" required="true" color="medium"
      [(ngModel)]="email" id="login-email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="password" placeholder="password" required="true" color="medium"
      [(ngModel)]="password" id="login-password"></ion-input>
    </ion-item>
    <ion-button id="login-submit" expand="block" color="primary" margin-top (click)="login()">Login</ion-button>
    <ion-button id="login-to-register" expand="block" fill="outline" (click)="goToSignUp()">Sign Up</ion-button>

  </ion-list>


</ion-content>
