<ion-header>

  <ion-navbar>
    <ion-title>Transactions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="transactions && transactions.length > 0">
    <ion-list>
      <ion-list-header>All Transactions</ion-list-header>
      <button ion-item *ngFor="let item of transactions" (click)="openTransaction(item.itemName)">
        {{ item.itemName }}
      </button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="transactions && transactions.length === 0">
    <ion-card-content>
      <p>You have no transactions currently.</p>
      <p>Press the add button on the bottom of your screen to add transactions.</p>
    </ion-card-content>
  </ion-card>


  <ion-fab bottom right>
    <button ion-fab (click)="openAddTransaction()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
