.theme-light {

    ion-content {
        background-color: #f4f4f4;
        color: #222;
    }

    ion-navbar {
        background-color: #f4f4f4;
        color: #222;
    }

    ion-item {
        background-color: #f4f4f4;
        color: #222;
    }

    .tabbar {
        background-color: #f4f4f4 !important;

        ion-icon {
        color: #222 !important;
        }
    }

    .toolbar-title {
        color: #222;
    }

    .header .toolbar-background {
        background-color: #f4f4f4;
        color: #222;
    }
}