.theme-dark {

    ion-content {
        background-color: #222;
        color: #f4f4f4;
    }

    ion-navbar {
        background-color: #222;
        color: #f4f4f4;
    }

    ion-item {
        background-color: #222;
        color: #f4f4f4;
    }

    .toolbar-title {
        color: #f4f4f4;
    }

    .header .toolbar-background {
        background-color: #222;
        color: #f4f4f4;
    }

}