<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="transactions-header">
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTransaction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <ion-label>In Inventory</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let transaction of inventoryTransactions">
        {{ transaction.itemId }} - {{ transaction.itemState }}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Sold</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let transaction of soldTransactions">
        {{ transaction.itemId }} - {{ transaction.itemState }}
    </ion-item>
  </ion-list>

</ion-content>
