<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="transactions-header">
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTransaction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        Purchased/In Stock
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          Shoe 1
        </ion-item>
        <ion-item>
          Shoe 2
        </ion-item>
        <ion-item>
          Shoe 3
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        Sold
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          Transaction 1
        </ion-item>
        <ion-item>
          Transaction 2
        </ion-item>
        <ion-item>
          Transaction 3
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
